<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="style.css">
        <script src="script.js" defer></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <title></title>
        <meta name="description" content="">
    </head>
    <body>
        <main>
            <section class="header" id="header">
                <div class="header-img"></div>
                <article class="header-info">
                    <div class="title">SHANE BOGUE</div>
                    <div class="description">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore officia, iusto id dolores aliquid eum aperiam. In deserunt, perferendis sequi mollitia laboriosam quo atque corporis id asperiores modi eligendi aut.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore officia, iusto id dolores aliquid eum aperiam. In deserunt, perferendis sequi mollitia laboriosam quo atque corporis id asperiores modi eligendi aut.</p>
                    </div>
                        <button>RESUME</button>
                </article>
                <a class="arrow" href="#display"><i class="down"></i></a>
            </section>
            <section class="display" id="display">
                <article class="display-info">
                    <p class="title"></p>
                    <p class="content"></p>
                </article>

                <div class="display-img"><button class="site-button">Visit Site</button></div>
            </section>
            <div style="position:relative">
                <div class="projects" id="projects">
                </div>
                <a class="arrow"><i class="right"></i></a>
            </div>
            <section class="skills" id="skills">
                <div id="piechart_3d" style="width: 100%; height: 1000px;"></div>
            </section>
            <section class="timeline" id="timeline">

            </section>
            <footer>Copyright © Shane Bogue 2023</footer>
        </main>
        <aside>
            <div class="container">
                <nav>
                    <a href="#header">Resume</a>
                    <a href="#display">Projects</a>
                    <a href="#skills">Skills</a>
                    <a href="#timeline">Timeline</a>
                </nav>
            </div>
        </aside>
        <div class="pink"></div>
    </body>
    
</html>